@import "@sdfz/component-style";

.BaseSelectMultiple-btn {
    border: unset;
    color: #000 !important;
    position: relative;
    margin-right: 10px;

    &:hover {
        background: $background-color-base;
    }

    .content {
        display: flex;
        align-items: center;

        .text {
            display: inline-block;
            margin: 0 5px;
            max-width: 110px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .el-icon-minus {
            position: absolute;
            top: 0;
            left: 100%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background: red;
            color: #fff;
        }
    }
}

.BaseSelectMultiple-option-container {
    max-height: 260px;
    overflow-y: auto;

    &>ul {
        margin: 0;
        padding: 0;
    }

    .BaseSelectMultiple-option-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #5c6975;
        height: 34px;
        line-height: 34px;
        box-sizing: border-box;
        cursor: pointer;

        &:hover {
            background-color: #f5f7fa;
        }
    }
}