/* Variables */

// base color
$color-primary: #2f72ff;
$color-secondary: #33d69f;
$color-success: #39b54a;
$color-warning: #f77d05;
$color-danger: #e02020;
$color-info: #a5a5a5;
$color-lightgrey: #f0f0f0;
$color-black: #000000;
$color-white: #ffffff;

// background color
$background-color-base: #f5f7f9;
$background-color-disabled: #b3b5ba;
$background-color-active: #e2e7eb;
$background-color-basic: #edeff2;
$background-color-basic-lighter: #f5f7f9;

// font color
$color-text-primary: #242a31;
$color-text-regular: #5c6975;
$color-text-secondary: #7d818a;
$color-text-placeholder: #7d818a;

// icon color
$icon-color-base: #7d818a;
$icon-color-light: #c2c7d1;
$icon-color-active: #2f72ff;

// border color
$border-color-base: #7d818a;
$border-color-light: #c3ced9;
$border-color-lighter: #e6ecf1;
$border-color-extra-light: #f5f7f9;
$border-color-split: #e6ecf1;

// spaceing
$S1: 4px;
$S2: 8px;
$S3: 12px;
$S4: 16px;
$S5: 20px;
$S6: 24px;
$S7: 28px;
$S8: 32px;
$S9: 48px;
$S10: 64px;

// raduis
$R1: 4px;
$R2: 10px;
$R3: 100px;

// font-size
$H1: 26px;
$H2: 22px;
$H3: 18px;
$H4: 14px;
$H5: 12px;

// Sidebar
$sideBarWidth: 60px;

// z-index
$z-index-low-level: 100;
$z-index-mid-level: 500;
$z-index-highest-level: 999;

// project color
$color-image: #2779f2;
$color-txt: #f89036;
$color-video: #25ace6;
$color-audio: #52d4bd;
$color-table: #48a454;
$color-multiple: #9f5aef;

$scroller-bar-width: 5px;